<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <br>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" class="form-control" placeholder="Enter title name" required>
            <div class="invalid-feedback">Please Enter valid title name</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" type="text" required></textarea>
            <div class="invalid-feedback">Please Type short description</div>

        </div>
         <div class="mb-3">
            <label for="Image" class="form-label">Image</label>
             <input name="listing[image]" placeholder="Enter image/Url" type="text"   class="form-control">
         </div>
         <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter price" class="form-control" required>
                <div class="invalid-feedback">Please Enter valid price</div>

            </div>
            <div class="mb-3 col md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
                <div class="invalid-feedback">Please Enter valid Country name</div>

            </div>
         </div>
        
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
        <div class="invalid-feedback">Please Enter valid Location</div>

        </div>
       
    
        <button class="btn btn-dark edit-btns mb-3">Add</button>
    </form>
</div>
</div>
</body>